body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.side-nav {
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background-color:#7a60ff;
    padding-top: 20px;
}

.side-nav ul {
    list-style-type: none;
    padding: 0;
}

.side-nav ul li {
    text-align: center;
    margin: 20px 0;
}

.side-nav ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    font-size: 16px;
}

.side-nav ul li a:hover {
    background-color: #7a60ff;
}

.container {
    margin-left: 220px;
    padding: 20px;
}

.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

h1, h2, h3 {
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

input[type="text"], input[type="file"], select, button {
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
}

button {
    background-color: #7a60ff;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #7a60ff;
}

.salary-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.salary-table th, .salary-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.salary-table th {
    background-color: #f2f2f2;
}

.profile-image {
    display: block;
    margin-top: 10px;
    max-width: 150px;
    height: auto;
}
